<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="NewSection">
    <Parameter Name="Whatever" Value="" />
    <Parameter Name="TestingThis" Value="Hmmmm" />
    <Parameter Name="Overriding" Value="" MustOverride="true" IsEncrypted="true" />
  </Section>
  <Section Name="SectionTwo">
    <Parameter Name="TestingSectionTwo" Value="" />
    <Parameter Name="TestingSectionThree" Value="" />
    <Parameter Name="SomethingElse" Value="" MustOverride="true" />
  </Section>
</Settings>